/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 1700px;
  margin: 0 auto !important;
  font-family: DM Sans,sans-serif;
  background-color: #F8F9FA !important;  
}

h1 {
    font-size: 38px !important;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  position: fixed !important;
  padding: 4px 50px !important;
  border-bottom: 1px solid rgb(245, 241, 241);
  z-index: 2;
}
.navbar-toggler {
font-size: 13px !important;
padding: .20rem .5rem !important;
}

.navbar-collapse {
flex-grow: 0 !important;
}

.navbar-nav {
padding-right: 65px !important;
}

#myNav-bar {
max-width: 1700px;
display: flex;
justify-content: space-between;
}

#banner-wraper {
    width: 100%;
    height: 500px;
}

#banner {
    width: 100%;
    height: 500px;
    background-image:linear-gradient(rgba(3, 3, 3, 0.8), rgba(10, 28, 18, 0.5)), url('image/mountains.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    /* color: #353640; */
    color: #fff;
    display: flex;
    justify-content: center;  
    padding-top: 300px;
    padding-bottom: 300px;
    /* border-bottom: 1px solid rgb(245, 241, 241); */
    z-index: 1;
}

#service-banner {
  padding-top: 250px;
  width: 100%;
  height: 200px;
  color: #34353F;
  display: flex;
  justify-content: center;  
  z-index: 1;
}
#service-banner p {
  padding: 5px 20px;
}

#banner-desc {
    max-width: 553px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    top: 10%;
}
#service-banner-desc {
    max-width: 553px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    top: 10%;
}

/* about */
.ml {
  margin-left: 0px !important;
}
.just-ctn {
  display: flex;
}

#about-banner {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;
}

#about-banner-description {
  max-width: 800px;
  
  padding: 170px 169px 170px 40px;
}

#image-aboutbanner-wrapper {
  width: 35%;
  background-color: #d6ebf6;
  padding: 40px 0px;
  
}
#image-aboutbanner {
  height: 100%;
  background-color: #f5ad1d;
  position: relative;
  right: 37%;
  width: 125%;
  background-image:url('image/whyChooseUs.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 20px;
}

/* mission and value */
#mission-value-wrapper{
  display: flex;
  padding: 70px 50px;
  margin-top: 35px;
  background-color: #EBF1F4;
  color: #1D4A7C;;
}
.mission-value {
  width: 50%;
  border-left: 3px solid #f5ad1d;
  padding: 20px;
}
#about-section {
  padding: 45px;
  display: flex;
}
#about-image {
  width: 50%;
  border-radius: 20px;
  background-image:url('image/aboutUs.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
#about-descr {
  width: 50%;
  padding: 50px 30px;
  
}

.banner-btns {
    display: flex;    
}

#moble-burger-getquote {
  display: flex;
}
.call-us {
    margin-top: 10px;
    margin-left: 10px;
    /* border: 1px solid #ffcb6b; */
    padding:7px 23px;
    cursor: pointer;
    /* color: #282D51; #ffcb6b*/
    /* color: #4b485f; */
    /* background-color: #f5ad1d; */
    background-color: #1464AC;
    font-weight: 100;
    
}

.call-us a {
  /* color: #4b485f !important; */
  color: #fff !important;
  text-decoration: none !important;
}
.call-us:hover {
  /* background-color: #FECA72; */
  opacity: .8;
}
.call-us-option1 a {
  color:#ffcb6b;
  font-size: 30px;
}
.call-us-option1 a:hover {
  color:#ffcb6b !important;
}

.getQuote-link, .getQuote-link-mobile {
    padding:8px 23px;
    /* background-color:#FACE7D; */
    background-color: #1464AC;
    font-weight: 100;
    cursor: pointer;
    /* border-radius: 5px; */
    
}

.getQuote-link a, .getQuote-link-mobile a {
  text-decoration: none !important;
  color: #fff;
}
.getQuote-link a:hover ,.getQuote-link-mobile a:hover{
    text-decoration: none !important;
    color: #F8F9FA !important
}

.getQuote-link:hover {
    text-decoration: none;
    opacity: .8;
}
#carouselExampleControls {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

#services-type-block {
    display: flex;
    max-width: 760px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-between;
    z-index: 1000;
}
.insurance-type {
    width: 31%;
    box-shadow: 1px 1px 10px rgba(0,0,0,.14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 35px;
}
.insurance-type p {
    color: #0B56A8;
    font-weight: 700;
    padding-top: 15px;

}
.learn-more-btn {
    background-color: #f5ad1d;
    padding: 6px 18px;
    margin-top: 15px;
}
.learn-more-btn a {
    text-decoration: none;
    color: #4b485f;
    font-size: 15px;
}
.learn-more-btn a:hover {
  text-decoration: none !important;
  color: #4b485f !important;

}
#seeking-content {
    background-color: #EBF1F4;
    text-align: center;
    color: #1D4A7C;
    padding: 69px 186px;
    margin-top: 60px;
    line-height: 1.7;
}
#seeking-content p {
    padding-top: 15px;
}

#seeking-content h2 {
    padding-bottom: 10px;
}
#insurance-carasoul {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}
#insurance-carasoul h2 {
    color: #1D4A7C;
    text-align: center;
    padding-bottom: 20px;
}
#why-choose {
  display: flex;
  margin-top: 80px;
}
#why-choose-img {
  width: 50%;
  background-image: url("image/whyChoose.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
#whyChoose-desc {
  width: 50%;
  background-color: #EBF1F4;
  text-align: center;
  color: #1D4A7C;
  line-height: 1.7;
  padding: 80px 20px;
  margin-left: 15px;
}

/* insurance companies mini carasoul */

.wrapper{
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0,0,0,.14);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -30px;
  z-index: 1;
}
.wrapper i:last-child{
  right: -30px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  object-fit: cover;
  user-select: none;
  margin-left: 15px;
  padding-left: 26px;
}
.carousel img:first-child{
  margin-left: 0px;
}
#quote-form-container{
  max-width: 700px;
  margin: 0 auto;
  padding-top: 150px;
}
.ifram-test {
  width: 100%;
  height: 1700px;
}

/* services */

#pills-option-btn{
  max-width: 460px;
  background-color: #EDF1F4;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 168px;
  margin: 0 auto;
  margin-top: 140px;
  display: flex;
  justify-content: space-around;

}
.pill-btn {
  padding: 5px 35px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.pill-btn:focus {
  outline: none;
}
.pill-btn:hover {
  background-color: #fff;
  color: #fab448;
}
#insurance-detail {
  margin: 55px 45px 40px 45px;
}

#insurance-detail p {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 10px;
}

#insurance-detail .call-us {
  margin-top: 0px !important;
  margin-left: 0px !important;
}

#insurance-detail ul {
  padding-left: 35px;
}

.insure-detail-container {
  display: flex !important;
  justify-content: space-between ;
}

.service-detail-left {
  width: 50%;
}

#home-insure-image {
  width: 400px;
  height: 260px;
  background-image: url("image/serviceHouse.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;

}

#auto-insure-image {
  width: 400px;
  height: 200px;
  background-image: url("image/serviceAuto.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

#business-insure-image {
  width: 450px;
  height: 260px;
  background-image: url("image/serviceBiz.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.service-block-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.first-row, .second-row {
  display: flex
}
.first-row {
  margin-bottom: 15px;
}
#home-image-one {
  width: 50%;
  background-image: url("image/homeRowOne.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
#home-image-two {
  width: 50%;
  background-image: url("image/houseRowTwo.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
#auto-image-one {
  width: 50%;
  background-image: url("image/autoRowOne.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
#auto-image-two {
  width: 50%;
  background-image: url("image/autoRowTwo.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
#commercial-image-one {
  width: 50%;
  background-image: url("image/commercialRowOne.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
#commercial-image-two {
  width: 50%;
  background-image: url("image/commercialRowTwo.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.row-one-detail, .row-two-detail {
  width: 50%;
  background-color: #EBF1F4;
  padding: 70px;
}
.row-one-detail {
  margin-left: 15px;
}
.row-two-detail {
  margin-right: 15px;
}

footer {
  width: 100%;
  background-color: #42546B;
  margin-top: 15px;
  color:#d9d9d9;
  text-align: center;
  padding: 20px 0px;
  font-size: 15px;
}
#office-hours {
  margin-top: 7px;
  margin-bottom: 7px;
}
.copyright a {
  text-decoration: none !important;
  color: #d9d9d9 !important;
}

.copyright a:hover {
  text-decoration: none !important;
  color: #d9d9d9 !important;
}

/* tablet, ipad, mobile */

@media  screen and (max-width:1130px) {
  #image-aboutbanner {
    width: 150%;
    right: 64%;
  }
}
@media screen and (max-width: 990px) {
  
 #navbarText {
  border-top: 1px solid rgb(241, 241, 242);
 }
 .getQuote-link {
  display: none !important;
 }
 #about-banner {
  display: flex;
  flex-direction: column;
 }
 #image-aboutbanner-wrapper{
  width: 100%;
  height: 385px;
 }
 #image-aboutbanner {
  width: 90%;
  bottom: 200px;
  height: 500px;
  right: 0;
  margin: 0 auto;
 }
 #about-banner-description {
  
  width: 90%;
  margin: 0 auto;
  padding: 88px 83px;
  text-align: center;
  margin-bottom: 100px;
 }
 .just-ctn {
  justify-content: center;
 }
}
@media screen and (max-width: 900px) {
  #seeking-content {
    padding:60px 70px;
  }
}

@media screen and (max-width: 750px) {
  #why-choose {
    display: flex;
    flex-direction: column;
  }
  #why-choose-img {
    width: 100%;
    height: 345px;
    background-image: url("image/whyChoose.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
  }
  #whyChoose-desc {
    width: 100%;
    margin-left: 0px;
  }
  .first-row, .second-row {
    display: flex;
    flex-direction: column;
  }
  #home-image-one, #home-image-two,
  #auto-image-one, #auto-image-two,
  #commercial-image-one, #commercial-image-two {
    width: 100%;
    height: 350px;
  }
  #home-insure-image, #auto-insure-image, #business-insure-image {
    display: none;
  }
  
  .service-detail-left {
    width: 95%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .row-one-detail, .row-two-detail {
    width: 100%;
  }
  .row-one-detail {
    margin-left: 0px;
  }
  .row-two-detail {
    margin-right: 0px;
  }
  #mission-value-wrapper {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
  }
  .mission-value {
    width: 100%;
    padding: 15px 0 0 10px;
  }
  .mission-value h4 {
    font-size: 20px;
  }
  .mission-value:last-child {
    margin-top: 45px;
  }
  #about-image {
    height: 400px;
    width: 100%;
  }
  #about-section {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  #about-descr {
    width: 100%;
    padding: 30px 10px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 25px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  #services-type-block {
    display: flex;
    flex-direction: column;
    max-width: 70%;
      
  }
  nav {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .insurance-type {
    width: 100%;
    margin-bottom: 20px;
  }
 
  #seeking-content {
    padding:60px 10px;
    
  }
  #insurance-carasoul {
    width: 80%;
  }
  .wrapper i:first-child, wrapper i:last-child {
    left: -15;
  }
  #testbtn {
    display: none !important;
  }
  #about-banner-description {
     padding: 88px 15px;
  }
  #image-aboutbanner-wrapper {
    height: 225px;
  }
  #image-aboutbanner {
    height: 345px;
  }
}

@media screen and (max-width: 360px) {
  
  /* #banner-desc {
    padding-left: 10px;
    padding-right: 10px;
  } */
  .row-one-detail, .row-two-detail {
    padding: 30px;
  }
  .service-block-title {
    padding-left: 5px;
    padding-right: 5px;
  }
  #pills-option-btn {
    border-radius: 120px;
    margin-left:3px;
    margin-right: 3px;
  }
  .pill-btn {
    font-size: 14px;
    padding: 4px 20px;
  }
}

@media screen and (max-width: 340px) {
  .carousel img {
    margin-left: 5px;
    padding-left: 5px;
    width: 110px;
    margin-top: 0px;
  }
  #services-type-block {
    max-width: 90%;   
  }
}


